# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1

appdirs>=1.4.4
arrow>=0.15.7
attrs>=19.3.0
backcall>=0.1.0
bctpy>=0.5.0
bids-validator>=1.4.2
binaryornot>=0.4.4
bio>=0.1.0
biopython>=1.76
black>=18.6b4
bleach>=3.1.1
brainnetworks>=0.3.2
certifi>=2019.11.28
chardet>=3.0.4

cookiecutter>=1.7.2
cycler>=0.10.0
Cython>=0.29.15
decorator>=4.4.1
deepdish>=0.3.6
defusedxml>=0.6.0
docopt>=0.6.2
docutils==0.14
entrypoints>=0.3
etelemetry>=0.1.2
filelock>=3.0.12
fmriprep>=20.0.0
funcsigs>=1.0.2
future>=0.18.2
GDAL>=2.4.2
idna>=2.9
imageio>=2.8.0
importlib-metadata>=1.5.0
indexed-gzip>=1.0.0
ipykernel>=5.1.4
ipython>=7.12.0
ipython-genutils>=0.2.0
ipywidgets>=7.5.1
isodate>=0.6.0
jedi>=0.16.0
Jinja2>=2.11.1
jinja2-time>=0.2.0
joblib>=0.15.1
jsonschema>=3.2.0
jupyter>=1.0.0
jupyter-client>=5.3.4
jupyter-console>=6.1.0
jupyter-core>=4.6.3
kiwisolver>=1.1.0
lockfile>=0.12.2
lxml>=4.5.0
MarkupSafe>=1.1.1
matplotlib>=3.2.1
mistune>=0.8.4
mlxtend>=0.17.2
mock>=4.0.2
more-itertools>=8.2.0
museotoolbox>=0.13.0
nbconvert>=5.6.1
nbformat>=5.0.4
networkx>=2.4
neurdflib>=5.0.1
nibabel>=3.0.1
niflow-nipype1-workflows>=0.0.4
nilearn>=0.6.2
nipype>=1.4.2
nistats>=0.0.1b0
nitime>=0.8.1
niworkflows>=1.1.12
nltools>=0.3.14
nose>=1.3.7
notebook>=6.0.3
num2words>=0.5.10
numexpr>=2.7.1
numpy>=1.18.1
packaging>=20.1
pandas>=1.0.1
pandocfilters>=1.4.2
parso>=0.6.1
patsy>=0.5.1
pexpect>=4.8.0
pickleshare>=0.7.5
Pillow>=7.0.0
pkg-resources>=0.0.0
pluggy>=0.13.1
poyo>=0.5.0
prometheus-client>=0.7.1
prompt-toolkit>=3.0.3
prov>=1.5.3
psutil>=5.7.0
ptyprocess>=0.6.0
py>=1.8.1
pybids>=0.10.2
pydot>=1.4.1
pydotplus>=2.0.2
Pygments>=2.5.2
pynv>=0.1.1
pyparsing>=2.4.6
pyrsistent>=0.15.7
pytest>=5.4.1
python-dateutil>=2.8.1
python-igraph>=0.8.0
python-slugify>=4.0.1
pytz>=2019.3
PyWavelets>=1.1.1
PyYAML>=5.3
pyzmq>=18.1.1
qtconsole>=4.6.0
rdflib>=4.2.2
requests>=2.23.0
scikit-image>=0.16.2
scikit-learn>=0.22.1
scipy>=1.4.1
sdcflows>=1.2.0
seaborn>=0.10.0
Send2Trash>=1.5.0
simplejson>=3.17.0
six>=1.14.0
skfeature>=1.0.0
skggm>=0.2.8
sklearn>=0.0
smriprep>=0.5.2
SQLAlchemy>=1.3.13
svgutils>=0.3.1
tables>=3.6.1
tabulate>=0.7.5
tedana>=0.0.8
templateflow>=0.4.2
termcolor>=1.1.0
terminado>=0.8.3
testpath>=0.4.4
text-unidecode>=1.3
texttable>=1.6.2
toml>=0.10.1
tornado>=6.0.3
tqdm>=4.43.0
traitlets>=4.3.3
traits>=6.0.0
transforms3d>=0.3.1
urllib3>=1.25.8
versioneer>=0.18
wcwidth>=0.1.8
webencodings>=0.5.1
hoggorm
scikit-bio
widgetsnbextension>=3.5.1
zipp>=3.0.0

